<a href="https://colab.research.google.com/github/lehuuthoct/Chart/blob/master/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!ls -l

total 832
-rw-r--r-- 1 root root 844961 Apr 23 06:26 owid-covid-data.csv
drwxr-xr-x 1 root root   4096 Apr  3 16:24 sample_data

In [0]:
import pandas as pd
df = pd.read_csv("owid-covid-data.csv")
df.head(10)
df.loc[df['location'] == "Australia"][['location', 'date', 'total_cases', 'new_cases', 'total_tests']]

      location        date  total_cases  new_cases  total_tests
573  Australia  2019-12-31            0          0          NaN
574  Australia  2020-01-01            0          0          NaN
575  Australia  2020-01-02            0          0          NaN
576  Australia  2020-01-03            0          0          NaN
577  Australia  2020-01-04            0          0          NaN
..         ...         ...          ...        ...          ...
682  Australia  2020-04-18         6533         36     406510.0
683  Australia  2020-04-19         6586         53     420996.0
684  Australia  2020-04-20         6612         26     431745.0
685  Australia  2020-04-21         6625         13     439842.0
686  Australia  2020-04-22         6647         22     452441.0

[114 rows x 5 columns]

In [0]:
#@title Example form fields
#@markdown Forms support many types of fields.

no_type_checking = ''  #@param
string_type = 'example'  #@param {type: "string"}
slider_value = 142  #@param {type: "slider", min: 100, max: 200}
number = 102  #@param {type: "number"}
date = '2010-11-05'  #@param {type: "date"}
pick_me = "monday"  #@param ['monday', 'tuesday', 'wednesday', 'thursday']
select_or_input = "apples" #@param ["apples", "bananas", "oranges"] {allow-input: true}
#@markdown ---